# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.whl
wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.mo
*/migrations/
*/migrations/__pycache__/
*/migrations/000*.py

# Environment Variables
.env
*.env

# Virtual Environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.swn

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing and Coverage
.pytest_cache/
.cache/
.coverage
.coveragerc
coverage/
coverage.xml
htmlcov/
nosetests.xml

# Jupyter
.ipynb_checkpoints/

# Static & Media
media/
static/
staticfiles/

# Node
node_modules/

# Logs
*.out
*.err

# Temporary Files
*.tmp
*.temp
*.bak
*.backup
*.orig
*.save

# Celery
celerybeat-schedule

# Project-specific
copy.py
Dockerfile


account/migrations/
account/migrations/__pycache__/
account/migrations/000*.py